{% extends 'base.html.twig' %}

{% block body %}


{% if admin %}

{% set subhash = [] %}


{% for sub in subscriptions %}
{% for k, v in gcdn %}
	{% if k == sub.groups.name %}
		{% for k1, v1 in v %}
			{% set subhash = subhash|merge({(sub.groups.name): 1}) %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% endfor %}

- administrujesz 
<br />

<table border=1>
		<tr><td>Właściciel</td><td>Awatar</td><td>Nazwa</td><td>Posty / Ostatni</td><td>Admini</td><td>Aktywny?</td><td>Otwarty?</td><td>Opis</td><td>Data utworzenia</td><td>Akcja</td></tr>

{% for adm in thread_admin %}
  {% if adm.accounts == username %}
	<tr><td><a href="{{ path('userspace', {'uid': adm.groups.owner.id}) }}">{{ adm.groups.owner }}</a></td><td><a href="{{ path('discuss2', {'name': adm.groups.name, 'page': 1}) }}"><img src="/groupavatar/{{ adm.groups.id }}.jpeg"></a></td><td><a href="{{ path('discuss2', {'name': adm.groups.name, 'page': 1}) }}">{{ adm.groups.name }}</a></td>
<td>
{{ ccnt[adm.groups.id] }} / {{ lastf[adm.groups.id] }}
</td>

<td>


	{% for k, v in gcdn %}
		{% if k == adm.groups.name %}
			{% for k1, v1 in v %}
				<a href="{{ path('userspace', {'uid': v1}) }}">{{ k1 }}</a><br />
			{% endfor %}
		{% endif %}
	{% endfor %}

</td>

<td>

{% if adm.groups.active != false %}
	aktywny
{% else %}
	nieaktywny
{% endif %}
</td><td>

{% if adm.groups.open != false %}
	otwarty
{% else %}
	zamknięty
{% endif %}
</td>
<td>{{ abouts[adm.groups.id] }}</td>

<td>{{ luty[adm.groups.id] }}</td>


<td>

{% if subhash[adm.groups.name] is defined %}

<a href="{{ path('group_user_unsubscribe', {'groupid': adm.groups.id}) }}">nie subskrybuj</a>

{% else %}
<a href="{{ path('group_user_subscribe', {'groupid': adm.groups.id}) }}">subskrybuj</a>
{% endif %}


<a href="{{ path('group_user_show', {'id': adm.groups.id}) }}">pokaż</a>

{% for k, v in gcdn %}
        {% if k == adm.groups.name %}
                {% for k1, v1 in v %}
				{% if k1 == username %}
					<a href="{{ path('group_user_edit', {'id': adm.groups.id}) }}">edytuj</a>
					{% if adm.groups.owner == k1 %}
						<a href="{{ path('group_user_delete', {'id': adm.groups.id}) }}">usuń</a>
					{% endif %}
				{% endif %}
                {% endfor %}
        {% endif %}
{% endfor %}


</td>
</tr>

{% endif %}

{% endfor %}


</table>

{{ navi|raw }}

{% else %}
Brak wątków
{% endif %}

{% endblock %}
