{% extends 'base.html.twig' %}

{% block body %}

<img src="{{ avataruri }}?ts={{ ts }}"> || Wątek "{{ groupname }}" | {% if editmarkgroup == 1 %}<a href="{{ path('group_user_edit', {'id': groupid}) }}">Edytuj</a>{% endif %} | Ilość wpisów: {{ cnt }} | <a href="{{ path('discuss2_new', {'id': groupid, 'page': 1}) }}">Nowy wpis</a>
<br /><br />

Administratorzy<br>

{% for key, value in gcdn %}
	{% if key == groupname %}
		{% for key1, value1 in value %}
			 <a href="{{ path('userspace', {'uid': value1 }) }}">{{ key1 }}</a><br />
		{% endfor %}
	{% endif %}
{% endfor %}

<br />
<br />
Opis:

{% for key, value in abouts %}
	{% if key == groupid %} {{ value }} {% endif %}
{% endfor %}


<br /><br />

	<table border=1>
	<tr><td>Data</td><td>Awatar</td><td>Autor</td><td>Tytuł</td><td>Akcja</td><td>Treść</td></tr>
{% for k, v in uids_iterations %}
	<tr><td>{{ dates[k]|date('Y-m-d H-i-s') }}</td><td><a href="{{ path('userspace', {'uid': v}) }}"><img src=/avatar/{{ v }}.jpeg?ts={{ ts }}></a></td><td><a href="{{ path('userspace', {'uid': v }) }}">{{ authors[k] }}</a></td><td>{{ titles[k] }}</td><td>{{ menus[k]|raw }}</td><td>{% if imgz[k] is defined %}<img src="/content/img/{{ imgz[k] }}?ts={{ ts }}">{% endif %} {{ cnnt[k] }}</td></tr>


{% endfor %}

	</table>

<br />
{{ navi|raw }}

<br />

{% endblock %}
