{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			Wizyty: <a href="{{ path('userspace', {'uid': uid}) }}">na Twoim profilu</a>
<br />			ostatnie wątki (ilość {{ grcnt }}) 

{% set subhash = [] %}
{% for sub in subscriptions %}
{% for k, v in gcdn %}
	{% if k == sub.groups.name %}
		{% for k1, v1 in v %}
			{% set subhash = subhash|merge({(sub.groups.name): 1}) %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% endfor %}

{% if allgroups %}

<table border=1>
<tr><td>Właściciel</td><td>Awatar</td><td>Nazwa</td><td>Posty / Ostatni</td><td>Admini</td><td>Aktywny?</td><td>Otwarty?</td><td>Opis</td><td>Data utworzenia</td></tr>

{% for ag in thread_allgroups %}
<tr><td><a href="{{ path('userspace', {'uid': ag.owner.id}) }}"> {{ ag.owner }}</td><td><a href="{{ path('discuss2', {'name': ag.name, 'page': 1}) }}"><img src="/groupavatar/{{ ag.id }}.jpeg?ts={{ ts }}"></a></td><td><a href="{{ path('discuss2', {'name': ag.name, 'page': 1}) }}">{{ ag.name }}</td><td>{{ ccnt[ag.id] }} / {% if ccnt[ag.id] %}  {{ lastf[ag.id] }} {% endif %}</td>

<td>
{% for k, v in gcdn %}
	{% if k == ag.name %}
		{% for k1, v1 in v %}
			<a href="{{ path('userspace', {'uid': v1}) }}">{{ k1 }}</a><br />
		{% endfor %}
	{% endif %}
{% endfor %}
</td>
<td>
{% if ag.active != false %}
akrywny
{% else %}
nieaktywny
{% endif %}
</td>
<td>
{% if ag.open != false %}
otwarty
{% else %}
zamknięty 
{% endif %}
</td>
<td>{{ abouts[ag.id] }}</td>
<td>{{ luty[ag.id] }}</td>

<td>
{% if subhash[ag.name] is defined %}

<a href="{{ path('group_user_unsubscribe', {'groupid': ag.id}) }}">nie subskrybuj</a>

{% else %}
<a href="{{ path('group_user_subscribe', {'groupid': ag.id}) }}">subskrybuj</a>
{% endif %}

<a href="{{ path('group_user_show', {'id': ag.id })}}">pokaż</a>

{% for k, v in gcdn %}
        {% if k == ag.name %}
                {% for k1, v1 in v %}
				{% if k1 == username %}
					<a href="{{ path('group_user_edit', {'id': ag.id}) }}">edytuj</a>
					{% if ag.owner == k1 %}
						<a href="{{ path('group_user_delete', {'id': ag.id}) }}">usuń</a>
					{% endif %}
				{% endif %}
                {% endfor %}
        {% endif %}
{% endfor %}

</td>


</tr>

{% endfor %}

</table>
{{ navi|raw }}

{% endif %}
	</div>
	<div class="col-sm-4">
		ostatnio komentowane
		<table border=1>
		<tr><td>Data</td><td>Nazwa grupy</td><td>Autor</td><td>Tytuł</td><td>Treśc</td></tr>
		{% for k, v in commcreatedat %}
			<tr><td> {{ commcreatedat[k]|date('Y-m-d H-i-s') }}</td><td><a href="{{ path('discuss2', {'name': commgids[k], 'page': 1}) }}">{{ commgids[k] }}</td><td><a href="{{ path('userspace', {'uid': commaccounts2[k] }) }}">{{ commaccounts[k] }}</a></td><td>{{ commtitles[k] }}</td><td>{{ commcontent[k] }}</td></tr>
		{% endfor %}
		</table>

<br /><br />
najczęściej wyświetlane wątki

<table border=1>
<tr><td>Grupa</td><td>Licznik</td></tr>
{% for k, v in ghitsarr %}
<tr><td><a href="{{ path('discuss2', {'name': k, 'page': 1}) }}">{{ k }}</a><td align=right>{{ v }}</td></tr>

{% endfor %}
</table>
<br /><br />

Najczęściej komentowane
<table border=1>
<tr><td>Wątek</td><td>Komentarzy</td></tr>
{% for k, v in cntg %}
<tr><td><a href="{{ path('discuss2', {'name': k, 'page':1}) }}">{{ k }}</a></td><td>{{ v }}</td></tr>
{% endfor %}
</table>

<br /><br />

	</div>
	</div>
	</div>
</div>

{% endblock %}
