{% extends 'base.html.twig' %}

{% block body %}

{% if ucnt > 0 %}


<table border=1>
<tr><td>Data</td><td>Autor</td><td>Treś komentarza</td><td>Akcja</td></tr>

{% for k, v in content %}

<tr><td>{{ v.createdat|date('Y-m-d H-i-s') }}</td><td><a href="{{ path('userspace', {'uid': v.uid.id}) }}"><img src="/avatar/{{ v.uid.id }}.jpeg">{{ v.uid }}</a></td><td>{{ cnt[v.filename]|raw}}</td>{% if username == v.uid %} <td><a href="{{ path('userspacecomment_edit', {'cid': v.id, 'wid': v.wid.id}) }}">edytuj</a> <a href="{{ path('userspacecomment_delete', {'cid': v.id, 'wid': v.wid.id}) }}">usuń</a> </td>{% endif %}</tr>
{% endfor %}

</table>

{% endif %}

Dodaj komentarz

{{ form_start(cform) }}
{{ form_widget(cform) }}
<button type="submit" class="btn btnoutline-secondary">Dodaj</button>
{{ form_end(cform) }}


{% endblock%}
